@charset "UTF-8";

* {
  font-family: -apple-system, 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
    'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  z-index: 1000;
  height: auto;
  max-height: 100%;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(51, 51, 51);
  overflow-y: auto;
}

#menu ul {
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
}

#menu>ul {
  margin: 5px 1em;
}

#menu li.close>ul {
  display: none;
}

#menu a {
  color: rgb(0, 120, 168);
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}

#menu a:active {
  color: orange;
}